Import fetch_openml and pandas

In [189]:
from sklearn.datasets import fetch_openml
import pandas as pd
import numpy as np

Import Tianic Dataset

In [259]:
titanic = fetch_openml(name="titanic", version=1, as_frame=True)
df = titanic.frame
df.head()

c:\ProgramData\anaconda3\Lib\site-packages\sklearn\datasets\_openml.py:968: FutureWarning: The default value of `parser` will change from `'liac-arff'` to `'auto'` in 1.4. You can set `parser='auto'` to silence this warning. Therefore, an `ImportError` will be raised from 1.4 if the dataset is dense and pandas is not installed. Note that the pandas parser may return different data types. See the Notes Section in fetch_openml's API doc for details.
  warn(
c:\ProgramData\anaconda3\Lib\site-packages\sklearn\datasets\_arff_parser.py:200: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  frame = pd.concat(dfs, ignore_index=True)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,None,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,None,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,None,NaN,"Montreal, PQ / Chesterville, ON"

Check For Missing Values

In [260]:
#df.info()
missing_values = df.isnull().sum()
missing_values

median_age = df['age'].median
df['age'].fillna(median_age,inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_8380\3056219079.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '<bound method Series.median of 0       29.0000
1        0.9167
2        2.0000
3       30.0000
4       25.0000
         ...
1304    14.5000
1305        NaN
1306    26.5000
1307    27.0000
1308    29.0000
Name: age, Length: 1309, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['age'].fillna(median_age,inplace=True)

Check for Duplicates and Remove

In [261]:
df.duplicated().sum()

0

Inspect Sex for inconsistancies and standardise Values

In [262]:
df.sex.value_counts()

df['sex'] = df.sex.str.upper()

df.sex.value_counts()

sex
MALE      843
FEMALE    466
Name: count, dtype: int64

Detect and Handle Outliers in Age and Fare

In [263]:
df.describe()

# OUTLIERS > 1.5 IQQ

Q1_age  = df['age'].quantile(0.25)
Q3_age  = df['age'].quantile(0.75)
IQR_age = Q3_age - Q1_age
print(IQR_age)

Q1_fare  = df['fare'].quantile(0.25)
Q3_fare  = df['fare'].quantile(0.75)
IQR_fare = Q3_fare - Q1_fare
print(IQR_fare)


                 
age_outliers = df[(df['age'] < (Q1_age - 1.5*IQR_age)) | (df['age'] > (Q3_age + 1.5*IQR_age))]

fare_outliers = df[(df['fare'] < (Q1_fare - 1.5*IQR_fare)) | (df['fare'] > (Q3_fare + 1.5*IQR_fare))]              


age_outliers .head()
fare_outliers .head()

TypeError: '<' not supported between instances of 'float' and 'method'

Create a New Family_Size feature Based on Sibsp and Parch

In [ ]:
df['family_size'] = df['sibsp'] + df['Parch'] + 1

KeyError: 'Parch'

Convert Embarked to numerical using label encodung

In [ ]:
df.embarked.value_counts()

df['embarkedNum'] = df.groupby('embarked',sort=False).ngroup()+1
#print(df['embarkedNum'])

from sklearn.preprocessing import LabelEncoder
label_encoder =LabelEncoder()

df['embarked_encoded'] = label_encoder.fit_transform(df['embarked'])

df['embarked_encoded'].value_counts()

#df.head()

#one hot encoding 

df['embarked_S'] = df.apply(
    lambda row: 1 if(row['embarked']=='S' ) else 0,
    axis = 1
)

df['embarked_C'] = df.apply(
    lambda row: 1 if(row['embarked']=='C' ) else 0,
    axis = 1
)

df['embarked_Q'] = df.apply(
    lambda row: 1 if(row['embarked']=='Q' ) else 0,
    axis = 1
)

df.head()

C:\Users\Admin\AppData\Local\Temp\ipykernel_8380\1672817219.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df['embarkedNum'] = df.groupby('embarked',sort=False).ngroup()+1

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,embarkedNum,embarked_encoded,embarked_S,embarked_C,embarked_Q
0,1.0,1,"allen, elisabeth walton",FEMALE,29.0,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO",1.0,2,1,0,0
1,1.0,1,"allison, hudson trevo",MALE,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON",1.0,2,1,0,0
2,1.0,0,"allison, helen lorain",FEMALE,2.0,1.0,2.0,113781,151.5500,C22 C26,S,None,NaN,"Montreal, PQ / Chesterville, ON",1.0,2,1,0,0
3,1.0,0,"allison, hudson joshua creighton",MALE,30.0,1.0,2.0,113781,151.5500,C22 C26,S,None,135.0,"Montreal, PQ / Chesterville, ON",1.0,2,1,0,0
4,1.0,0,"allison, hudson j c (bessie waldo daniels)",FEMALE,25.0,1.0,2.0,113781,151.5500,C22 C26,S,None,NaN,"Montreal, PQ / Chesterville, ON",1.0,2,1,0,0

Convert Ticket_Purchase_Date to datetime

In [ ]:
print(df.head())

   pclass survived                                         name     sex  \
0     1.0        1                     allen,  elisabeth walton  FEMALE
1     1.0        1                       allison,  hudson trevo    MALE
2     1.0        0                       allison,  helen lorain  FEMALE
3     1.0        0            allison,  hudson joshua creighton    MALE
4     1.0        0  allison,  hudson j c (bessie waldo daniels)  FEMALE

      age  sibsp  parch  ticket      fare    cabin embarked  boat   body  \
0    29.0    0.0    0.0   24160  211.3375       B5        S     2    NaN
1  0.9167    1.0    2.0  113781  151.5500  C22 C26        S    11    NaN
2     2.0    1.0    2.0  113781  151.5500  C22 C26        S  None    NaN
3    30.0    1.0    2.0  113781  151.5500  C22 C26        S  None  135.0
4    25.0    1.0    2.0  113781  151.5500  C22 C26        S  None    NaN

                         home.dest  embarkedNum  embarked_encoded  embarked_S  \
0                     St Louis, MO          1.0                 2           1
1  Montreal, PQ / Chesterville, ON          1.0                 2           1
2  Montreal, PQ / Chesterville, ON          1.0                 2           1
3  Montreal, PQ / Chesterville, ON          1.0                 2           1
4  Montreal, PQ / Chesterville, ON          1.0                 2           1

   embarked_C  embarked_Q
0           0           0
1           0           0
2           0           0
3           0           0
4           0           0

Clean the Name Column

In [ ]:
df['name'] = df['name'].str.replace('Mr.','')
df['name'] = df['name'].str.replace('Mrs.','')
df['name'] = df['name'].str.replace('Master.','')
df['name'] = df['name'].str.replace('Miss.','')


print(df['name'].head())

df['name'] = df.name.str.lower()

print(df['name'].head())

import re

df['name'] = df['name'].apply(
    lambda x:  re.sub(r'(Mr\.|Mrs\.)',''x)
    )



import re

df['name'] = df['name'].apply(
lambda x: re.sub(r'(Mr\.|Mrs\.|Dr\.|Miss\.|Master\.)', '', x) 
)

df['name'] = df.name.str.lower()

df.head(n=10)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (76916363.py, line 16)

Bin the Age into Categories

In [269]:
#import re 
#bins = [0,12,18,64,100]

#labels = ['Child','Teen', 'Adult', 'Senior']

#df['age_group'] = pd.cut(df['age'], bins=bins,labels = labels)

df.head()

bins = [0,12, 18, 64, 100]
labels = ['Child', 'Teen', 'Adult', 'Senior']

df['age_group'] = pd.cut(df['age'], bins=bins, labels= labels)

df.head()

TypeError: '<' not supported between instances of 'float' and 'method'